#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.footerPage {
  color: white;
  background-color: #3296a6;
  padding: 0%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: -3%;
  width: 100%;
  font-family: "Josefin_Sans";
  font-size: 20px;
}
.headPage {
  background-color: #3296a6;
  padding: 1%;
  text-align: left;
  position: fixed;
  margin-left: -3.2%;
  margin-top: -3.5%;
  width: 100%;
}
.imgchat {
  width: 50px;
  height: 50px;
  margin-top: 0%;
  margin-left: 92%;
  border-radius: 50px;
  border: black solid 1px;
}
.tittle {
  color: white;
  margin-top: -6%;
  margin-left: 1%;
  margin-right: 0px;
  margin-bottom: -10px;
  text-align: left;
  font-family: "Josefin_Sans";
  padding: 15px;
}

/*nav*/
.navPage {
  background-color: #ccc;
  padding: 25px;
  text-align: center;
  width: 100%;
  margin-left: -3.2%;
}

.info-nav {
  margin: 1%;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-top: 1%;
}
.imgGitHub {
  width: 25px;
  height: 25px;
  margin-bottom: -1%;
  margin-top: -0.5%;
  border-radius: 50px;
  border: black solid 1px;
  margin-right: 95%;
}
.tittle-git {
  color: white;
  margin-top: -2%;
  margin-left: 4%;
  margin-right: 0px;
  margin-bottom: -10px;
  text-align: left;
  font-family: "Josefin_Sans";
  font-size: 16px;
  padding: 5px;
}
.imgfacebook {
  width: 25px;
  height: 25px;
  margin-bottom: -1%;
  margin-top: -0.5%;
  border-radius: 50px;
  border: black solid 1px;
  margin-right: 95%;
}
.tittle-face {
  color: white;
  margin-top: -2%;
  margin-left: 4%;
  margin-right: 0px;
  margin-bottom: -30px;
  text-align: left;
  font-family: "Josefin_Sans";
  font-size: 16px;
  padding: 5px;
}
