#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.footerPage {
  color: white;
  background-color: #3296a6;
  padding: 0%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: -3%;
  width: 100%;
  font-family: "Josefin_Sans";
  font-size: 20px;
}
.headPage {
  background-color: #3296a6;
  padding: 1%;
  text-align: left;
  position: fixed;
  margin-left: -3.2%;
  margin-top: -3.5%;
  width: 100%;
}
.imgchat {
  width: 50px;
  height: 50px;
  margin-top: 0%;
  margin-left: 1%;
  border-radius: 50px;
  border: black solid 1px;
}

.ChaGPT{
  background-image: linear-gradient(to bottom, #ffb4a2, #b5838d);
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 85%;
  margin-bottom: 0%;
}

.tittle {
  color: white;
  margin-top: -5.3%;
  margin-left: 4.7%;
  margin-right: 0px;
  margin-bottom: -10px;
  text-align: left;
  font-family: "Josefin_Sans";
  padding: 15px;
}

/*nav*/
.navPage {
  background-color: #ccc; /* Color de fondo cris */
  width: 100%; /* Ajustar al ancho completo de la pantalla */
  margin-top: 20px; /* Espacio de separación respecto al encabezado */
  position: fixed; /* Fijar el elemento en la pantalla */
  top: 7.1%; /* Ajustar la distancia desde la parte superior según la altura del encabezado */
  left: 0; /* Alinear a la izquierda de la pantalla */
  right: 0; /* Alinear a la derecha de la pantalla */
}

.info-nav {
  margin: 1%;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-top: 1%;
}
.imgGitHub {
  width: 25px;
  height: 25px;
  margin-bottom: -1%;
  margin-top: -0.5%;
  border-radius: 50px;
  border: black solid 1px;
  margin-right: 95%;
}
.tittle-git {
  color: white;
  margin-top: -2%;
  margin-left: 4%;
  margin-right: 0px;
  margin-bottom: -10px;
  text-align: left;
  font-family: "Josefin_Sans";
  font-size: 16px;
  padding: 5px;
}
.imgfacebook {
  width: 25px;
  height: 25px;
  margin-bottom: -1%;
  margin-top: -0.5%;
  border-radius: 50px;
  border: black solid 1px;
  margin-right: 95%;
}
.tittle-face {
  color: white;
  margin-top: -2%;
  margin-left: 4%;
  margin-right: 0px;
  margin-bottom: -30px;
  text-align: left;
  font-family: "Josefin_Sans";
  font-size: 16px;
  padding: 5px;
}
